fastapi
uvicorn[standard]
langgraph
langchain
langchain-groq
langchain-community
langsmith
tavily-python
supabase
python-dotenv
pydantic
pydantic-settings
aiohttp
reportlab
pypdf
sentence-transformers
faiss-cpu
aiosqlite
langgraph-checkpoint-sqlite
sse-starlette
python-multipart
httpx
yt-dlp>=2024.4.9
openai-whisper>=20231117
pydub>=0.25.1
ffmpeg-python>=0.2.0
elevenlabs
scikit-learn
