fastapi
uvicorn[standard]
langgraph
langchain
langchain-groq
langchain-community
langsmith
tavily-python
supabase
python-dotenv
pydantic
pydantic-settings
aiohttp
reportlab
pypdf
sentence-transformers
faiss-cpu
aiosqlite
langgraph-checkpoint-sqlite
sse-starlette
python-multipart
httpx
